<div>

<h1>Restaurants#index</h1>

 <% @restaurants.each do |restaurant| %>
  <h1><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>

  <p><%= restaurant.category %></p>
<% end %>


<%= link_to "Add Restaurant", new_restaurant_path(@restaurant), class: "btn btn-primary" %>
</div>
